*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url(public/assents/img/img8.jpg);
    background-repeat: no-repeat;
}