*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #565658;
}

/*INICIO menu*/
.logo{
    width: 290px;
    height: 150px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #3f3f3f;
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 30px;
}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
    padding: 0 40px;
    transition: 0.5s;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #f3f3f3;
    font-weight: 600;
}

.enlaces-menu li:hover{
    background-color: rgba(62, 130, 197);
}


/*FIN menu*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.tcontact{
    margin: 10% 0 10% 0;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #171717;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    padding: 0 100px;
    color: #fff;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    text-transform: uppercase;
    color: #171717;
    margin-top: 15%;
}

.inicio{
    color: #fff;
}

.contacto{
    color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #010435;
    color: #fff;
    text-decoration: none;
    background: #010435;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactame{
    margin-top: 20%;
    color: #171717;
    font-size: 20px;
}

/*form*/

.contact {
    padding: 20px 0 30px 0;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010435;
}

form{
    padding: 50px 55px;
    box-shadow: 0  0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: #1a8d2a;
    font-size: 20px;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover{
    background-color: #50e04b;
}
/*MEDIA menu*/
@media (max-width:768px) {
    .logo{
        padding-left: 25px;
    }
    .ham{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }
    .enlaces-menu li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

@keyframes muestraMenu{
    form{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 1000ms ease-in-out both;
}